{{>head}}
{{>navbar}}

    <div class="page-header">
        <h1>{{nombre}} <small> {{anio}}</small></h1>
                <h1>{{ capitalizar 'Este es un texcto' }} <small> {{anio}}</small></h1>
    </div>


{{>footer}}

